### Import Libraries

In [16]:
import pandas as pd
import numpy as np

### Reading File

In [4]:
df1 = pd.read_csv('Food3.csv')
df1

             Name  Price   Place   Color     Cuisine  Taste
0           Pizza    200  Jaipur     Red     Italian  Spicy
1          Burger    150  Indore   Brwon    American  Spicy
2           Tacos     80  Indore   White     Mexican  Spicy
3          Jalebi     20  Jaipur  Yellow      Indian  Sweet
4     Cheese Cake     35   Mumba   White    American  Sweet
5         Biryani    240   Delhi  Orange      Indian  Spicy
6        Shawarma     90  Indore   White     Mughlai  Spicy
7        Tandoori    250  Jaipur     Red      Indian  Spicy
8          Waffle     85  Mumbai   Brown    American  Sweet
9       Pan Cakes     90   Delhi   Brown    American  Sweet
10      Ice Cream     70   Delhi    Pink      French  Sweet
11          Momos     90  Indore   White     Chinese  Spicy
12        Noodles     70  Mumbai     Red     Chinese  Spicy
13          Pasta     80  Jaipur     Red     Italian  Spicy
14        Hot Dog     40   Delhi   Brown    American  Spicy
15   Paneer Tikka     90  Jaipur     Red      Indian  Spicy
16         Dhokla     30  Mumbai  Yellow      Indian  Sweet
17         Shakes    100   Delhi   Black    American  Sweet
18  Chicken Tikka    120  Mumbai     Red      Indian  Spicy
19   Garlic Bread     45  Indore   Brown     Mexican  Spicy
20    Gulab Jamun     20  Jaipur   Black      Indian  Sweet
21        Cobbler    100  Mumbai   White  Australian  Sweet
22         Lasgna    150   Delhi     Red     Italian  Spicy
23       Sandwich     40  Indore   White  Australian  Spicy

### Descibing the File With Size and Shape

In [54]:
df1.size
df1.shape

(24, 6)

## Q. Food Whose Price is greater than 50.

In [10]:
df1['Name'][(df1['Price']>50)]

0             Pizza
1            Burger
2             Tacos
5           Biryani
6          Shawarma
7          Tandoori
8            Waffle
9         Pan Cakes
10        Ice Cream
11            Momos
12          Noodles
13            Pasta
15     Paneer Tikka
17           Shakes
18    Chicken Tikka
21          Cobbler
22           Lasgna
Name: Name, dtype: object

### Q. Costliest Food

In [42]:
df1[['Name','Place']][df1['Price'] == df1["Price"].max()]

       Name   Place
7  Tandoori  Jaipur

### Q. Cheapest Food

In [44]:
df1[['Name','Place']][df1['Price'] == df1["Price"].min()]

           Name   Place
3        Jalebi  Jaipur
20  Gulab Jamun  Jaipur

### Q. Food Which is spicy and more than Price of 50.

In [12]:
df1[['Name','Cuisine']][(df1['Price']>50)&(df1['Taste']=='Spicy')]

             Name   Cuisine
0           Pizza   Italian
1          Burger  American
2           Tacos   Mexican
5         Biryani    Indian
6        Shawarma   Mughlai
7        Tandoori    Indian
11          Momos   Chinese
12        Noodles   Chinese
13          Pasta   Italian
15   Paneer Tikka    Indian
18  Chicken Tikka    Indian
22         Lasgna   Italian

### Q. White Color Food Found in Indore.

In [23]:
df1['Name'][(df1['Color']=='White')&(df1['Place']=='Indore')]

2        Tacos
6     Shawarma
11       Momos
23    Sandwich
Name: Name, dtype: object

### Q. Food Which is Available in Indore and is Spicy.

In [27]:
df1['Name'][(df1['Place']=='Indore')&(df1['Taste']=='Spicy')]

1           Burger
2            Tacos
6         Shawarma
11           Momos
19    Garlic Bread
23        Sandwich
Name: Name, dtype: object

### Q.Count of Different Cusine

In [50]:
df1['Cuisine'].count()

24

### Description of the data

In [53]:
df1.describe()

            Price
count   24.000000
mean    95.208333
std     63.356808
min     20.000000
25%     43.750000
50%     87.500000
75%    105.000000
max    250.000000