In [2]:
import pandas as pd

In [4]:
s = pd.read_excel('Food.xlsx')

In [5]:
s

             Name  Price Place(city)   Color       Cuisine   Taste
0          Panner    300      Mumbai     Red        Indian   Spicy
1           Pizza    200       Delhi  Yellow       Maxican   Yummy
2            Dosa     60   Karnataka     Red  South Indian  Bitter
3            Idli     30   Karnataka   White  South Indian   Salty
4            Fish    200     Kolkata   White        Indian   Yummy
5         Chowmin    100    Banglore   Brown       Chinese   Spicy
6         Rasgola     20     Kolkata   White        Indian   Sweet
7       Pav Bhaji     50      Mumbai     Red        Indian   Spicy
8      Enchiladas     80       Delhi   White       Maxican    Sour
9   Chili Chicken    150      jaipur     Red       Maxican   Spicy
10      Curd Rice    100   Karnataka   White  South Indian   Sweet
11      Pesarattu    200    Banglore  Yellow  South Indian   Sweet
12         HotPot    180      jaipur   Brown       Chinese   Salty
13      Dumplings    190      jaipur  Yellow       Chinese    Sour

In [6]:
s.shape

(14, 6)

In [7]:
s.size

84

In [12]:
s['Name'][(s['Price']>50)]

0            Panner
1             Pizza
2              Dosa
4              Fish
5           Chowmin
8        Enchiladas
9     Chili Chicken
10        Curd Rice
11        Pesarattu
12           HotPot
13        Dumplings
Name: Name, dtype: object

In [15]:
s[['Name','Cuisine']][(s['Price']>50)&(s['Taste']=='Spicy')]

            Name  Cuisine
0         Panner   Indian
5        Chowmin  Chinese
9  Chili Chicken  Maxican

In [18]:
s.sample(4)

          Name  Price Place(city)   Color  Cuisine  Taste
13   Dumplings    190      jaipur  Yellow  Chinese   Sour
1        Pizza    200       Delhi  Yellow  Maxican  Yummy
8   Enchiladas     80       Delhi   White  Maxican   Sour
5      Chowmin    100    Banglore   Brown  Chinese  Spicy

In [19]:
s.head(3)

     Name  Price Place(city)   Color       Cuisine   Taste
0  Panner    300      Mumbai     Red        Indian   Spicy
1   Pizza    200       Delhi  Yellow       Maxican   Yummy
2    Dosa     60   Karnataka     Red  South Indian  Bitter

In [20]:
s.tail(3)

         Name  Price Place(city)   Color       Cuisine  Taste
11  Pesarattu    200    Banglore  Yellow  South Indian  Sweet
12     HotPot    180      jaipur   Brown       Chinese  Salty
13  Dumplings    190      jaipur  Yellow       Chinese   Sour

In [21]:
s.describe()

            Price
count   14.000000
mean   132.857143
std     82.128283
min     20.000000
25%     65.000000
50%    125.000000
75%    197.500000
max    300.000000

In [22]:
s['Name'][(s['Color']=='White')&(s['Place(city)']=='Karnataka')]

3          Idli
10    Curd Rice
Name: Name, dtype: object